* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    text-align: center;
  }
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: #3A3B3A;
    z-index: 2;
  }
  #logo {
    width: 150px;
    height: auto;
  }
  .nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    margin: 0px 10px 0px 10px;
    display: inline-block;
  }
  .nav-link:hover {
    color: #6b6d71;
  }
  .dropdown {
    display: none;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    left: -140px;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu-btn {
    background-color: #FFFFFF;
    color: #3A3B3A;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  .menu-btn:hover {
    opacity: 0.8;
  }
  .btn-select {
    background-color: #d6d9da;
  }
  .drop-link {
    display: block;
    text-decoration: none;
    color: #313234;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    transition: 0.6s;
    border-bottom: 1px solid #d6d9da;
  }
  .drop-link:hover {
    background-color: #6b6d71;
    color: white;
  }
  /* display the vertical nav-bar when toggle the menu button */
  .show {
    display: block;
  }

  .back {
    position: absolute;
    top: 20%;
    left: 1%;
    /* border: solid; */
    font-size: 1.2em;
    font-family: Abel, monospace;
  }

  .back > a {
    text-decoration: none;
    color: black;
  }

  .back > a > i {
    display: inline-block;
    vertical-align: middle;
  }

  #title {
    font-family: Abel, monospace;
    font-size: 4em;
  }

  .container {
    width: 60%;
    margin: auto;
  }

  #table-of-contents {
    width: 100%;
    margin: auto;
    text-align: justify;
    font-family: Assistant, monospace;
    border: solid;
    padding-left: 2em;
    padding-right: 2em;
  }

  #table-of-contents > h2 {
    font-size: 2em;
  }

  #table-of-contents > ol > li {
    font-size: 1.2em;
  }

  #table-of-contents > ol > li > div {
    cursor: pointer;
    color: black;
  }

  .contents {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: left;
    font-family: 'Open Sans', monospace;
  }

  .keywords {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* gap: 1em; */
  }

  .keywords > div {
    border-radius: 1em;
    background-color: #E23E57;
    text-align: center;
    padding: 0.2em 0.8em 0.2em 0.8em;
    color: white;
    margin: 0.5em;
  }

  .items > h1 {
    color: #88304E;
    font-weight: bold;
    text-align: justify;
  }

  .items > p {
    font-style: italic;
    text-align: justify;
    font-size: 1.2em;
  }

  .items > p > a {
    text-decoration: none;
    color: #0F3460;
    font-weight: bold;
    font-style: normal;
  }

  .items > ul {
    text-align: justify;
    font-family: Quicksand, monospace;
    font-size: 1.2em;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    align-items: center;
    margin-top: 2em;
  }

  .gallery > img {
    width: 512px;
    height: auto;
    display: block;
    margin: 0.5em;
  }

  #lg_img {
    width: 720px;
    height: auto;
    display: block;
    margin: 0.5em;
  }

  .video-wrapper {
    width: 720px;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  #video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .audio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
  }

  .audio-gallery > div {
    margin: 0.5em;
  }

  .audio-gallery > div > div {
    font-family: Quicksand, monospace;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
  }

  #go_top {
    background-color: black;
    text-align: center;
    position: fixed;
    right: 1%;
    bottom: 12%;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    font-size: 2em;
    line-height: 3em;
    opacity: 0.45;
    z-index: 99;
    display: none;
    color: white;
    cursor: pointer;
  }

  footer {
    background-color: #3A3B3A;
    margin: 0px;
    padding: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    color: #FFFFFF;
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 900px) {

    .nav-link {
      display: none;
    }
    .dropdown {
      display: inline-block;
    }
    #logo {
        width: 125px;
        height: auto;
      }

    .container {
        width: 90%;
        margin: auto;
    }

    .gallery > img {
        width: 360px;
        height: auto;
      }

    #lg_img {
      width: 360px;
      height: auto;
    }
    
    .video-wrapper {
      width: 360px;
      height: auto;
    }

    /* .items > h1 {
        text-align: left;
      } */
}