* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    text-align: center;
    background-color: #dcdde1;
  }
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: #3A3B3A;
    z-index: 2;
  }
  #logo {
    width: 150px;
    height: auto;
  }
  .nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    margin: 0px 10px 0px 10px;
    display: inline-block;
  }
  .nav-link:hover {
    color: #6b6d71;
  }
  .dropdown {
    display: none;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    left: -140px;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu-btn {
    background-color: #FFFFFF;
    color: #3A3B3A;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  .menu-btn:hover {
    opacity: 0.8;
  }
  .btn-select {
    background-color: #d6d9da;
  }
  .drop-link {
    display: block;
    text-decoration: none;
    color: #313234;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    transition: 0.6s;
    border-bottom: 1px solid #d6d9da;
  }
  .drop-link:hover {
    background-color: #6b6d71;
    color: white;
  }
  /* display the vertical nav-bar when toggle the menu button */
  .show {
    display: block;
  }

  .title {
    font-family: Abel, monospace;
    font-size: 75px;
  }

  /* timeline styling here */
  /* the vertical ruler */
.timeline-body {
  width: 80%;
  background-color: #dcdde1;
  position: relative;
  left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* the vertical ruler */
.ruler {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #474545;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/*container around content*/
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #dcdde1;
  border: 4px solid #474545;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #474545;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #474545;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #474545;
  border-width: 10px 10px 10px 0;
  border-color: transparent #474545 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #636262;
  position: relative;
  border-radius: 6px;
  color: #ecebeb;
  vertical-align: middle;
  cursor: pointer;
}

.display-tap .content::after {
  font-size: 30px;
  color: #ecebeb;
  position: absolute;
  top: 5%;
  right: 5%;
  content: 'touch_app';
  font-family: 'Material Icons';
}

.description > h2,
.description > h3 {
  font-family: Assistant, monospace;
}

.achievement > h2,
.achievement > ul > li,
.achievement > ol > li {
  font-family: Assistant, monospace;
}

.achievement > ul {
  list-style-type: none;
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
  padding-left: 2em;
  text-indent: -2em;
}

.achievement > ol {
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
  padding-left: 1em;
}

.achievement > ol > li {
  padding-left: 15px;
}

.achievement > ul > li:before {
  font-size: 20px;
  color: #ecebeb;
  padding-right: 5px;
  content: 'emoji_events';
  font-family: 'Material Icons';
}

.achievement {
  display: none;
}

.description {
  display: contents;
}

.can-hover .content:hover .description {
  display: none;
}

.can-hover .content:hover .achievement {
  display: contents;
}

.alter .description {
  display: none;
}

.alter .achievement {
  display: contents;
}

.bg1 {
  background-image: url(./education/utokyo.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.bg2 {
  background-image: url(./education/unm.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.bg3 {
  background-image: url(./education/sunway.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.bg4 {
  background-image: url(./education/sglong.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.bg5 {
  background-image: url(./education/batu11.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.content2 {
  width: 50%;
  position: relative;
  left: 25%;
  text-align: justify;
  font-size: 25px;
  font-family: Quicksand, monospace;
  margin-bottom: 50px;
}

.content2 > ol > li > a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #3A3B3A;
  margin: 0px;
  padding: 30px;
  font-weight: bold;
  font-size: 15px;
  font-family: monospace;
  color: #FFFFFF;
  width: 100%;
  display: block;
}

  @media screen and (max-width: 900px) {

    .nav-link {
      display: none;
    }
    .dropdown {
      display: inline-block;
    }
    #logo {
        width: 125px;
        height: auto;
    }
    /* Place the timelime to the left */
    .ruler {
      left: 31px;
    }

  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #474545;
      border-width: 10px 10px 10px 0;
      border-color: transparent #474545 transparent transparent;
    }

  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }

  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }

    .timeline-body {
      width:100%;
      left:0%;
    }

    .content2 {
      width: 90%;
      left: 5%;
    }
  }
