* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    text-align: center;
  }
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: #3A3B3A;
    z-index: 2;
  }
  #logo {
    width: 150px;
    height: auto;
  }
  .nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    margin: 0px 10px 0px 10px;
    display: inline-block;
  }
  .nav-link:hover {
    color: #6b6d71;
  }
  .dropdown {
    display: none;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    left: -140px;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu-btn {
    background-color: #FFFFFF;
    color: #3A3B3A;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  .menu-btn:hover {
    opacity: 0.8;
  }
  .btn-select {
    background-color: #d6d9da;
  }
  .drop-link {
    display: block;
    text-decoration: none;
    color: #313234;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    transition: 0.6s;
    border-bottom: 1px solid #d6d9da;
  }
  .drop-link:hover {
    background-color: #6b6d71;
    color: white;
  }
  /* display the vertical nav-bar when toggle the menu button */
  .show {
    display: block;
  }

  .title {
    font-family: Abel, monospace;
    font-size: 4em;
  }

  .selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;
    margin-bottom: 10em;
    width: 100%;
    justify-content: center;
  }

  .selection > div {
    display: inline-block;
    margin: 1em;
    width: 20em;
    height: 12em;
    line-height: 12em;
    border: solid;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #727272;
  }

  .selection > div:hover {
    box-shadow: 0 0 20px #6b6666;
  }

  .selection > div > a {
    text-decoration: none;
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 6em;
    font-size: 2em;
    font-family: Assistant, monospace;
    color: white;
    z-index: 1;
  }

  .bg1 {
    background-image: url(./project/assets/bg1.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg2 {
    background-image: url(./project/assets/bg2.png);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg3 {
    background-image: url(./project/assets/bg3.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg4 {
    background-image: url(./project/assets/bg4.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg5 {
    background-image: url(./project/assets/bg5.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg6 {
    background-image: url(./project/assets/bg6.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .bg7 {
    background-image: url(./project/assets/bg7.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
  }

  footer {
    background-color: #3A3B3A;
    margin: 0px;
    padding: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    color: #FFFFFF;
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 900px) {

    .nav-link {
      display: none;
    }
    .dropdown {
      display: inline-block;
    }
    #logo {
        width: 125px;
        height: auto;
      }
}
