* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    text-align: center;
  }
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: #3A3B3A;
    z-index: 2;
  }
  #logo {
    width: 150px;
    height: auto;
  }
  .nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    margin: 0px 10px 0px 10px;
    display: inline-block;
  }
  .nav-link:hover {
    color: #6b6d71;
  }
  .dropdown {
    display: none;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    left: -140px;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu-btn {
    background-color: #FFFFFF;
    color: #3A3B3A;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
  }
  .menu-btn:hover {
    opacity: 0.8;
  }
  .btn-select {
    background-color: #d6d9da;
  }
  .drop-link {
    display: block;
    text-decoration: none;
    color: #313234;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    transition: 0.6s;
    border-bottom: 1px solid #d6d9da;
  }
  .drop-link:hover {
    background-color: #6b6d71;
    color: white;
  }
  /* display the vertical nav-bar when toggle the menu button */
  .show {
    display: block;
  }

  .title {
    font-family: Abel, monospace;
    font-size: 4em;
  }

  /* timeline */
  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    font-family: 'Open Sans', monospace;
  }

  .contents {
    position: relative;
    width: 100%;
    padding-left: 4em;
    margin-top: 2.4em;
  }

  .items {
    position: relative;
  }

  .items::before {
    content:'';
    width: 4px;
    /* height: 85%; */
    height: 100%;
    background-color: #006778;
    position: absolute;
    left: -3.5em;
    bottom: 0;
    transition: 0.2s;
  }

  .event-icon {
    /* border: 4px solid black; */
    background-color: #006778;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1%;
    left: 0;
    rotate: 45deg;
    transition: 0.2s;
  }

  .date {
    background-color: #006778;
    font-weight: bold;
    max-width: 250px;
    color: white;
    padding: 10px;
    transition: 0.2s;
  }

  .contents:hover
  .event-icon {
    transform:rotate(-90deg);
    background-color: #C07F00;
    /* rotate: -45deg; */
    transition: 0.2s;
  }

  .contents:hover .items::before {
    background-color: #C07F00;
    transition: 0.2s;
  }

  .contents:hover
  .date {
    background-color: #C07F00;
    transition: 0.2s;
  }

  .items > h1 {
    color: #006778;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .items > p {
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
  }

  .keywords {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    /* gap: 1em; */
  }

  .keywords > div {
    border-radius: 1em;
    background-color: #508D69;
    text-align: center;
    padding: 0.2em 0.8em 0.2em 0.8em;
    color: white;
    margin: 0.5em;
  }

  .items > ul {
    text-align: justify;
    font-family: Quicksand, monospace;
    font-size: 1.2em;
  }


  footer {
    background-color: #3A3B3A;
    margin: 0px;
    padding: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    color: #FFFFFF;
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 900px) {

    .nav-link {
      display: none;
    }
    .dropdown {
      display: inline-block;
    }
    #logo {
        width: 125px;
        height: auto;
      }
    .timeline {
        width: 90%;
        left: 5%;
    }

  }
